*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Roboto, Helvetica, sans-serif;
    background-color: #F6F8F9;
}

/* stile header */
header{
    background-color: white;
    padding: 10px;
    line-height: 100px;
    height: 100px;
}

#logo{
 width: auto;
 vertical-align: middle;
     
}

#logo-text{
    font-size: 40px;
    vertical-align: middle;
    font-weight: 800;

}



/* stile container */

.container{
    width: 80%;
    background-color: white;
    margin: 30px auto;
    border-radius: 10px;
   
}

/* stile button  */
.box-button{
    padding: 20px;
    border-bottom: 2px solid #ccc;
}

.button-container{
    margin: 10px 40px;

}

.button{
    
  border-radius: 10px;
  color: white;
  padding: 10px 20px; 
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  

}

#one{
    background-color: #47ADF1;

}

#two{
background-color: white;
color: #ccc;

}

/* stile contenuto */

main{
    padding: 50px;
}

.list-item{
    margin: 20px 0 20px;
}

.title{
    display: inline-block;
    font-size: 40px;
}

.arrow{
    font-size: 30px;
    
}

.success{
    font-size: 30px;
    color: green;
}

.failure{
    font-size: 30px;
    color: red;
}

.tag{
    color: white;
    width: 80px;
    height: 20px;
    display: inline-block;
    border-radius: 10px;
    text-align: center;
    line-height: 20px;
    vertical-align: middle;
   
}

.text{
    font-size: 18px;
    margin: 0 10px;
}

/* color target */

#blue{
    background-color: #45ABEA ;
}

#orange{
    background-color: #F29E33;
}
#green{
    background-color: #64C0A9;

}
#viola{
    background-color: #9C72E4;
}
#fuxia{
    background-color: #D863A1;
}


