*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ccc;
}

/* stile header */
header{
    background-color: white;
    padding: 10px;
   
}

#logo{
 height: 80px;
 width: auto;
 line-height: 80px;
 vertical-align: middle;
     
}

#logo-text{
    font-size: 40px;
    margin-top: 5px;

}



/* stile container */

.container{
    width: 80%;
    background-color: white;
    margin: 30px auto;
    border-radius: 10px;
   
}

/* stile button  */
.box-button{
    padding: 20px;
    border-bottom: 2px solid #ccc;
}

.button-container{
    margin: 10px 40px;

}

.button{
    
  border-radius: 20px;
  color: white;
  padding: 10px 20px; 
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  

}

#one{
    background-color: blue;

}

#two{
background-color: white;
color: #ccc;

}

/* stile contenuto */

main{
    padding: 50px;
}

.list-item{
    margin: 10px 0 10px;
}

.title{
    display: inline-block;
    font-size: 40px;
}

.arrow{
    font-size: 40px;
}

.success{
    font-size: 30px;
    color: green;
}

.tag{
    width: 80px;
    height: 20px;
    display: inline-block;
    background-color: blue;
    border-radius: 10px;
    text-align: center;
    line-height: 20px;
    vertical-align: middle;
}

.text{
    margin: 0 10px;
}

